	body{ 
		background-image: url('../img/Fondo.jpeg'); 
		background-repeat: no-repeat; 
		background-size: 100%;
			}
			#viewport {
    background-color: #FFFFFF;
    border-style:solid;
    border-color:#BFBFBF
}

   /*	start styles for the ContextMenu	*/
.context_menu{
	background-color:white;
	border:1px solid gray;
}
.context_menu_item{
	padding:3px 6px;
}
.context_menu_item:hover{
	background-color:#CCCCCC;
}
.context_menu_separator{
	background-color:gray;
	height:1px;
	margin:0;
	padding:0;
}
#clearDirectionsItem{
	display:block;
}

/*	end styles for the ContextMenu	*/	